* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #ececec;
}
.profile {
  margin-top: 100px;
}

.profile img {
  width: 250px;
  height: 250px;
  border: 5px solid #ccc;
}

.profile p {
  color: #333;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.empresas a {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

footer img {
  width: 40px;
}

footer {
  margin-top: 20px;
}
footer ul > li {
  list-style: none;
  display: inline;
  margin: 20px;
}
